<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!-- Transaction Manager -->
  <bean id="transactionManager" class="org.jencks.factory.TransactionManagerFactoryBean"/>

  <!-- JCA container for ActiveMQ -->
  <bean id="jencks" class="org.jencks.JCAContainer" singleton="true">
    <property name="transactionManager" ref="transactionManager"/>
    <property name="threadPoolSize" value="25"/>

    <!-- the JCA Resource Adapter -->
    <property name="resourceAdapter">
      <bean id="activeMQResourceAdapter" class="org.apache.activemq.ra.ActiveMQResourceAdapter" singleton="true">
        <property name="serverUrl" value="tcp://localhost:51616"/>
        <property name="brokerXmlConfig" value="xbean:org/jencks/broker.xml"/>
      </bean>
    </property>
  </bean>

  <!-- inbound message connector -->
  <bean id="messageConnector" class="org.jencks.JCAConnector">

    <property name="jcaContainer" ref="jencks"/>

    <!-- subscription details -->
    <property name="activationSpec">
      <bean class="org.apache.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="myTopic"/>
        <property name="destinationType" value="javax.jms.Topic"/>
      </bean>
    </property>

    <!-- the bean used to process the message -->
    <property name="ref" value="consumerBean"/>
  </bean>

  <bean id="consumerBean" class="org.jencks.TestBean" singleton="true"/>

  <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
    <property name="connectionFactory">
      <bean class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:51616"/>
      </bean>
    </property>
  </bean>
</beans>
