<?xml version="1.0" encoding="UTF-8"?>

<!-- START SNIPPET: spring -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <!--
  || ActiveMQ Broker
  -->
  <bean id="broker" class="org.activemq.spring.BrokerFactoryBean" singleton="true">
    <property name="config" value="classpath:org/jencks/broker.xml"/>
  </bean>

  <!-- START SNIPPET: jca -->
  <bean id="jencks" class="org.jencks.JCAContainer">

    <!-- lets use the default configuration of work manager and transaction manager-->
    <property name="bootstrapContext">
      <bean class="org.jencks.factory.BootstrapContextFactoryBean">
        <property name="threadPoolSize" value="25"/>
      </bean>
    </property>


    <!-- the JCA Resource Adapter -->
    <property name="resourceAdapter">
      <bean id="activeMQResourceAdapter" class="org.activemq.ra.ActiveMQResourceAdapter">
        <property name="serverUrl" value="tcp://localhost:61616"/>
      </bean>
    </property>
  </bean>
  <!-- END SNIPPET: jca -->

  <!--
    || an inbound message connector using a stateless, thread safe MessageListener
    -->
  <!-- START SNIPPET: inbound -->
  <bean id="inboundConnectorA" factory-method="addConnector" factory-bean="jencks" singleton="true">

    <!-- subscription details -->
    <property name="activationSpec">
      <bean class="org.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="test.spring.inboundConnectorA"/>
        <property name="destinationType" value="javax.jms.Topic"/>
      </bean>
    </property>

    <property name="ref" value="echoBean"/>
  </bean>

  <bean id="echoBean" class="org.jencks.TestBean" singleton="true"/>
  <!-- END SNIPPET: inbound -->

  <!--
    || an inbound message connector using a stateful, pooled  MessageListener
    -->
  <bean id="inboundConnectorB" factory-method="addConnector" factory-bean="jencks" singleton="true">

    <!-- subscription details -->
    <property name="activationSpec">
      <bean class="org.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="test.spring.inboundConnectorB"/>
        <property name="destinationType" value="javax.jms.Queue"/>
      </bean>
    </property>

    <!-- This example uses a pooled bean -->
    <property name="ref" value="echoBean"/>
  </bean>

  <!-- a pooled, non-thread safe MessageListener using ProxyFactoryBean -->
  <!--
  <bean id="pooledEchoBean" class="org.jencks.TargetSourceMessageListener">
    <property name="targetSource">
      <bean id="pooledEchoBeanTargetSource" class="org.springframework.aop.target.CommonsPoolTargetSource">
        <property name="targetBeanName">
          <value>pooledEchoBeanTarget</value>
        </property>
        <property name="maxSize">
          <value>25</value>
        </property>
      </bean>
    </property>
  </bean>
  <bean id="pooledEchoBeanTarget" class="org.jencks.TestBean" singleton="false">
  </bean>
  -->

</beans>

        <!-- END SNIPPET: spring -->
