<?xml version="1.0" encoding="UTF-8"?>

<!-- START SNIPPET: spring -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <!--
  || Transaction Manager
  -->
  <bean id="transactionManager" class="org.jencks.factory.TransactionManagerFactoryBean"/>

  <!--
  || ActiveMQ Broker
  -->
  <bean id="broker" class="org.apache.activemq.xbean.BrokerFactoryBean" singleton="true">
    <property name="config" value="classpath:org/jencks/broker.xml"/>
  </bean>

  <!--
  || Jencks JCA Container
  -->
  <bean id="jencks" class="org.jencks.JCAContainer">
    <property name="transactionManager" ref="transactionManager"/>
    <property name="threadPoolSize" value="25"/>

    <!-- the JCA Resource Adapter -->
    <property name="resourceAdapter">
      <bean id="activeMQResourceAdapter" class="org.apache.activemq.ra.ActiveMQResourceAdapter">
        <property name="serverUrl" value="tcp://localhost:51616"/>
      </bean>
    </property>
  </bean>

  <!--
    || an inbound message connector using a stateless, thread safe MessageListener
    -->
  <bean id="inboundConnectorA" class="org.jencks.JCAConnector">

    <property name="jcaContainer" ref="jencks"/>

    <!-- subscription details -->
    <property name="activationSpec">
      <bean class="org.apache.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="test.spring.inboundConnectorA"/>
        <property name="destinationType" value="javax.jms.Topic"/>
      </bean>
    </property>

    <!-- This example uses a  -->
    <property name="ref" value="echoBean"/>
  </bean>

  <!--
    || an inbound message connector using a stateful, pooled  MessageListener
    -->
  <bean id="inboundConnectorB" class="org.jencks.JCAConnector">

    <property name="jcaContainer" ref="jencks"/>

    <!-- subscription details -->
    <property name="activationSpec">
      <bean class="org.apache.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="test.spring.inboundConnectorB"/>
        <property name="destinationType" value="javax.jms.Queue"/>
      </bean>
    </property>

    <!-- This example uses a pooled bean -->
    <property name="ref" value="pooledEchoBean"/>
  </bean>

  <!--
    || Message Driven POJOs
    -->

  <!-- a thread safe non-pooled MessageListener -->
  <bean id="echoBean" class="org.jencks.TestBean"></bean>

  <!-- a pooled, non-thread safe MessageListener using ProxyFactoryBean -->
  <bean id="pooledEchoBean" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces" value="javax.jms.MessageListener"/>
    <property name="targetSource" ref="pooledEchoBeanTargetSource"/>
  </bean>
  <bean id="pooledEchoBeanTargetSource" class="org.springframework.aop.target.CommonsPoolTargetSource">
    <property name="targetBeanName" value="pooledEchoBeanTarget"/>
    <property name="maxSize" value="25"/>
  </bean>
  <bean id="pooledEchoBeanTarget" class="org.jencks.TestBean" singleton="false"/>

</beans>

    <!-- END SNIPPET: spring -->
