<?xml version="1.0" encoding="UTF-8"?>

<!-- START SNIPPET: spring -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <!-- START SNIPPET: tm -->
  <bean id="transactionContextManager" class="org.jencks.factory.TransactionContextManagerFactoryBean"/>
  <bean id="userTransaction" class="org.jencks.factory.GeronimoTransactionManagerFactoryBean"/>
  <bean id="jtaTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
  	<property name="userTransaction" ref="userTransaction" />
  </bean>
  <!-- END SNIPPET: tm -->

  <!--
  || ActiveMQ Broker
  -->
  <bean id="broker" class="org.activemq.spring.BrokerFactoryBean" singleton="true">
    <property name="config" value="classpath:org/jencks/broker.xml"/>
  </bean>

  <!--
  || Jencks JCA Container
  -->
  <bean id="jencks" class="org.jencks.JCAContainer">

    <property name="bootstrapContext">
      <bean class="org.jencks.factory.BootstrapContextFactoryBean">
        <property name="transactionContextManager" ref="transactionContextManager"/>
        <property name="threadPoolSize" value="25"/>
      </bean>
    </property>

    <!-- the JCA Resource Adapter -->
    <property name="resourceAdapter">
      <bean id="activeMQResourceAdapter" class="org.activemq.ra.ActiveMQResourceAdapter">
        <property name="serverUrl" value="tcp://localhost:61616"/>

        <!-- use polling or ASF -->
        <property name="endpointWorkerType" value="asf"/>
      </bean>
    </property>

  </bean>


  <!-- START SNIPPET: inbound -->
  <bean id="inboundConnectorA" class="org.jencks.JCAConnector">

	<property name="jcaContainer" ref="jencks" />

    <!-- subscription details -->
    <property name="activationSpec">
      <bean class="org.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="test.spring.inboundConnectorA"/>
        <property name="destinationType" value="javax.jms.Topic"/>
        <property name="enableBatch" value="true" />
        <property name="maxMessagesPerBatch" value="20"/>
      </bean>
    </property>

    <!-- use XA transactions -->
    <property name="transactionManager" ref="userTransaction"/>

    <property name="ref" value="echoBean"/>
  </bean>
  <!-- END SNIPPET: inbound -->

  <!--
    || an inbound message connector using a stateful, pooled  MessageListener
    -->
  <bean id="inboundConnectorB" class="org.jencks.JCAConnector">

	<property name="jcaContainer" ref="jencks" />

    <!-- subscription details -->
    <property name="activationSpec">
      <bean class="org.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="test.spring.inboundConnectorB"/>
        <property name="destinationType" value="javax.jms.Queue"/>
        <property name="enableBatch" value="true" />
      </bean>
    </property>

    <!-- use XA transactions -->
    <property name="transactionManager" ref="userTransaction"/>

    <!-- This example uses a pooled bean -->
    <property name="ref" value="pooledEchoBean"/>
  </bean>

  <!--
    || Message Driven POJOs
    -->

  <!-- a thread safe non-pooled MessageListener -->
  <bean id="echoBean" class="org.jencks.TestBean" singleton="true">
  </bean>

  <!-- a pooled, non-thread safe MessageListener using ProxyFactoryBean -->
  <bean id="pooledEchoBean" class="org.jencks.TargetSourceMessageListener">
    <property name="targetSource">
      <bean id="pooledEchoBeanTargetSource" class="org.springframework.aop.target.CommonsPoolTargetSource">
        <property name="targetBeanName">
          <value>pooledEchoBeanTarget</value>
        </property>
        <property name="maxSize">
          <value>25</value>
        </property>
      </bean>
    </property>
  </bean>

  <bean id="pooledEchoBeanTarget" class="org.jencks.TestBean" singleton="false">
  </bean>

</beans>

        <!-- END SNIPPET: spring -->
