<?xml version="1.0" encoding="UTF-8"?>

<!-- START SNIPPET: spring -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <!--
  || Transaction Manager
  -->
  <bean id="transactionManager" class="org.jencks.factory.TransactionManagerFactoryBean"/>

  <!--
  || ActiveMQ Broker
  -->
  <bean id="broker" class="org.apache.activemq.xbean.BrokerFactoryBean">
    <property name="config" value="classpath:org/jencks/broker.xml"/>
  </bean>

  <!--
    || A JCA container
    -->
  <bean id="jencks" class="org.jencks.JCAContainer">

    <!-- lets configure the bootstrap context -->
    <property name="bootstrapContext">
      <bean class="org.jencks.factory.BootstrapContextFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="threadPoolSize" value="25"/>
      </bean>
    </property>

    <!-- the JCA Resource Adapter for ActiveMQ -->
    <property name="resourceAdapter" ref="activeMQResourceAdapter"/>
  </bean>

  <bean id="activeMQResourceAdapter" class="org.apache.activemq.ra.ActiveMQResourceAdapter">
    <property name="serverUrl" value="tcp://localhost:51616"/>
  </bean>

  <!--
    || an inbound message connector using a stateful, pooled  MessageListener
    -->
  <bean id="requestResponseMEP" class="org.jencks.JCAConnector">

    <property name="jcaContainer" ref="jencks"/>

    <!-- subscription details -->
    <property name="activationSpec">
      <bean class="org.apache.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="org.jencks.JCAContainerRequestReplyUsingXATest"/>
        <property name="destinationType" value="javax.jms.Queue"/>
      </bean>
    </property>

    <!-- use XA transactions -->
    <property name="transactionManager" ref="transactionManager"/>

    <!-- This example uses a pooled bean -->
    <property name="ref" value="pooledReplyBean"/>
  </bean>

  <!-- a pooled, non-thread safe MessageListener using ProxyFactoryBean -->
  <bean id="pooledReplyBean" class="org.jencks.TargetSourceMessageListener">
    <property name="targetSource">
      <bean id="pooledReplyBeanTargetSource" class="org.springframework.aop.target.CommonsPoolTargetSource">
        <property name="targetBeanName" value="pooledReplyBeanTarget"/>
        <property name="maxSize" value="25"/>
      </bean>
    </property>
  </bean>
  <bean id="pooledReplyBeanTarget" class="org.jencks.TestReplyBean" singleton="false">
    <property name="jmsTemplate" ref="jmsTemplate"/>
  </bean>


  <!--
  || A JmsTemplate used to publish from inside a JCA message consumption thread
  -->
  <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <property name="connectionFactory">
      <bean class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:51616"/>
      </bean>
    </property>
  </bean>

</beans>

    <!-- END SNIPPET: spring -->
